[Unit]
Description=eXist-db instance; id: %i
After=network.target
AssertPathExistsGlob=<instances_root>/exist_*_%i

[Service]
Type=forking
ExecStart=/usr/local/bin/existctl start %i
ExecStop=/usr/local/bin/existctl stop %i
ExecReload=/usr/local/bin/existctl restart %i
User=<existdb_user>
PIDFile=/tmp/exist_pids/%i.pid
Restart=always
# This is the debatable way how Java tells that it exited due to a signal:
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
