server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;
    server_name <hostname>;

    ssl_certificate /etc/ssl/certs/<hostname>.pem;
    ssl_certificate_key /etc/ssl/private/<hostname>.key;

    include /etc/nginx/proxy-mappings/*;
}
